@charset "utf-8";
** {
	font-family:"微软雅黑";
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
@-webkit-keyframes rotate{
	0%{-webkit-transform:rotateZ(-45deg)}
	100%{-webkit-transform:rotateZ(315deg)}
}
body {
	background-image: url(../images/a847e63a2242f9610f37966076a9d3aa.jpg);
}

#loding {	
	text-align: center;
	height: 550px;
	width: 380px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border:1px solid rgba(255,255,255,0.4);
	border-radius:4px;
}
#loding h1 {
	font-size: 30px;
	padding-top: 30px;
	color: #FFF;
}
#loding h3 {
	font-size: 20px;
	color: #FFF;
}
#loding #top {
	height: 88px;
	width: 88px;
	overflow: hidden;
	border:2px solid #ececec;
	border-radius:25%;
	margin:0 auto;
	margin-top:20px;
}
#top img {
	width: 88px;
	height:auto;
}
#loding input {
	display: block;
	height: 36px;
	width: 220px;
	margin-top: 18px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid rgba(255,255,255,0.7);
	line-height: 18px;
	color: #FFF;
	text-indent: 8px;
	outline: none;
	font-size: 18px;
}
#loding a {
	font-size: 18px;
	background-color:rgba(0,204,153,0.6);
	display: block;
	height: 36px;
	width: 220px;
	margin-right: auto;
	margin-left: auto;
	margin-top:16px;
	line-height:36px;
	border-radius:4px;
	color: #FFF;
}
#loding a:hover {
	background-color:rgba(0,204,153,1);	
}
#loding input:focus {
    border: 1px solid rgba(255,255,255,0.6);
	background-color:rgba(255,255,255,0.1);
	color: rgba(255,68,0,1);
}
.text {
	-webkit-animation:rotate 16s linear 0s infinite;
	animation:rotate 16s linear 0s infinite;	
}
#button {
	display: block;
	height: 24px;
	width: 88px;
	margin-top: 18px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid rgba(255,255,255,0.7);
	line-height: 24px;
	color: #000;
	text-indent: 8px;
	outline: none;
	font-size: 16px;
	text-align: center;
}
#button:hover {
	background-color:rgba(255,255,255,1);	
}